<ion-content>
  <ion-grid fixed class="width-md">
    <div *ngIf="testsResults$ | async as results; else loading">
      <ion-card *ngFor="let result of results" [routerLink]="['/tests/results', result.id]">
        <img *ngIf="result.imageSrc" [src]="result.imageSrc" alt="" />
        <ion-card-header>
          <ion-card-subtitle>{{result.date | date:'d.M.yyyy, h:mm a'}}</ion-card-subtitle>
          <ion-card-title>{{result.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            {{result.description}}
          </p>
        </ion-card-content>
      </ion-card>
    </div>

    <ng-template #loading>
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </ion-grid>
</ion-content>
