<ion-content>
  <div class="container-md">
    <div *ngIf="test$ | async as test; else loading">
      <h1>{{test.title}}</h1>

      <div *ngIf="!isTestRunning; else testContent">
        <div class="ion-margin-bottom">
          <p [innerHTML]="test.instruction"></p>
          <p><strong>Estimated time: {{test.time}} minutes</strong></p>
        </div>
        <ion-button expand="block" (click)="startTest()">Start the test</ion-button>
      </div>

      <ng-template #testContent>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-button [disabled]="currentTask === 1" (click)="toPrevTask()">
            <ion-icon slot="start" name="arrow-back"></ion-icon>Back
          </ion-button>
          <ion-text color="medium"><h6>Question {{currentTask}} of {{test.tasks.length}}</h6></ion-text>
        </ion-row>

        <ion-slides [formGroup]="testForm" class="ion-margin-bottom" [options]="{allowTouchMove:false}">
          <ion-slide *ngFor="let task of test.tasks">
            <h5>{{task.subject}}</h5>
            <ion-radio-group [formControlName]="'task['+ task.id +']'">
              <ion-item *ngFor="let variant of task.variants">
                <ion-label>{{variant.value}}</ion-label>
                <ion-radio slot="start" value="{{variant.id}}" (click)="toNextTask()"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-slide>
          <ion-slide>
            <ion-button class="mt-4" size="large" expand="block" (click)="finishTest()">Get test result</ion-button>
          </ion-slide>
        </ion-slides>
      </ng-template>
    </div>
    <ng-template #loading>
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </div>
</ion-content>
