<ion-content>
  <ion-grid fixed class="width-md">
    <div *ngIf="lifehacks$ | async as lifehacks; else loading">
      <ion-card *ngFor="let lifehack of lifehacks">
        <img *ngIf="lifehack.imageSrc" [src]="lifehack.imageSrc" alt="" />
        <ion-card-header *ngIf="lifehack.title">
          <ion-card-title>{{lifehack.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHTML]="lifehack.text"></ion-card-content>
      </ion-card>
    </div>

    <ng-template #loading>
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </ion-grid>
</ion-content>
