<ion-content>
  <div class="container-md">
    <div *ngIf="article$ | async as article; else loading">
      <h1>{{article.title}}</h1>

      <article [innerHTML]="article.text"></article>
    </div>
    <ng-template #loading>
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </div>
</ion-content>
