<ion-content>
  <h1 class="ion-text-center">Registration</h1>

  <ion-grid fixed class="width-sm">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="ion-padding">
        <ion-list *ngIf="auth.error$ | async as errorArr">
          <ion-item lines="none" color="danger" *ngFor="let error of errorArr">
            {{error}}
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
          <div class="validation" *ngIf="form.get('name').touched && form.get('name').invalid">
            <ion-note color="danger" *ngIf="form.get('name').errors.required">
              Input your name, please
            </ion-note>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
          <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
            <ion-note color="danger" *ngIf="form.get('email').errors.required">
              Email required
            </ion-note>
            <ion-note color="danger" *ngIf="form.get('email').errors.email">
              Input correct email
            </ion-note>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
          <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
            <ion-note color="danger" *ngIf="form.get('password').errors.required">
              Password required
            </ion-note>
            <ion-note color="danger" *ngIf="form.get('password').errors.minlength">
              Password must have
              {{form.get('password').errors.minlength.requiredLength}}
              symbols
            </ion-note>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repeat password</ion-label>
          <ion-input formControlName="password2" type="password"></ion-input>
          <div class="validation" *ngIf="form.get('password2').touched && form.get('password2').invalid">
            <ion-note color="danger" *ngIf="form.get('password2').errors.required">
              Repeat password
            </ion-note>
            <ion-note color="danger" *ngIf="form.get('password2').errors.minlength">
              Password must have
              {{form.get('password2').errors.minlength.requiredLength}}
              symbols
            </ion-note>
            <ion-note color="danger" *ngIf="form.get('password2').errors.mustMatch">Passwords must match</ion-note>
          </div>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-button [disabled]="form.invalid || submitted" type="submit" expand="block">Create account</ion-button>
      </div>
    </form>
    <p class="ion-text-center">
      Already have an account? <a [routerLink]="['/auth']">Login</a>
    </p>
  </ion-grid>
</ion-content>
