<ion-header>
  <ion-segment >
    <ion-segment-button value="test-list" routerLink="/tests/list" routerLinkActive #rla="routerLinkActive" [checked]="rla.isActive">
      <ion-label>Tests</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tests-results" routerLink="/tests/results" routerLinkActive #rla2="routerLinkActive" [checked]="rla2.isActive">
      <ion-label>Results</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
