<ion-content>
  <ion-grid fixed class="width-md">
    <div *ngIf="articles$ | async as articles; else loading">
      <ion-card *ngFor="let article of articles" [routerLink]="['/blog/articles', article.id]">
        <img *ngIf="article.imageSrc" [src]="article.imageSrc" alt="" />
        <ion-card-header>
          <ion-card-title>{{article.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="article.description">
          {{article.description}}
        </ion-card-content>
      </ion-card>
    </div>

    <ng-template #loading>
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </ion-grid>
</ion-content>
