<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Emotional Diary
    </ion-title>
    <ion-button slot="end" (click)="presentModal()">
      + Emotion
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="width-md">
    <div *ngIf="eventSource$ | async as eventSource; else loading">
      <h5 text-center>{{calendarTitle}}</h5>
      <ng-template #eventTemplate
        let-showEventDetail="showEventDetail"
        let-selectedDate="selectedDate"
        let-noEventsLabel="noEventsLabel"
      >
        <ion-list *ngIf="selectedDate.events.length; else noevents">
          <ion-item *ngFor="let event of selectedDate.events">
            {{event.startTime | date:'shortTime'}} - {{event.title}}
          </ion-item>
        </ion-list>
        <ng-template #noevents>
          <ion-item class="ion-margin-top" color="light">No emotions entered</ion-item>
        </ng-template>
      </ng-template>

      <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              [monthviewEventDetailTemplate]="eventTemplate"
              (onTitleChanged)="onViewTitleChanged($event)"
              step="30"
              startingDayWeek="1"
              startingDayMonth="1">
      </calendar>
    </div>
    <ng-template #loading>
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </ion-grid>
</ion-content>
