<ion-header translucent>
  <ion-toolbar>
    <ion-title>Choose Emotion</ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-text-capitalize" color="primary" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list *ngIf="emotions$ | async as emotions; else loading">
    <ion-radio-group (ionSelect)="onSelectEmotion($event)">
      <ion-item *ngFor="let emotion of emotions">
        <ion-label>{{emotion.title}}</ion-label>
        <ion-radio slot="start" [value]="emotion.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ng-template #loading>
    <div class="ion-text-center ion-padding">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>
