<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/tests']" routerLinkActive="tab-selected">
      <ion-icon name="done-all"></ion-icon>
      <ion-label>Tests</ion-label>
    </ion-tab-button>

<!--    TODO create exercises page-->
<!--    <ion-tab-button tab="exercise">-->
<!--      <ion-icon name="filing"></ion-icon>-->
<!--      <ion-label>Exercises</ion-label>-->
<!--    </ion-tab-button>-->

    <ion-tab-button [routerLink]="['/blog']" routerLinkActive="tab-selected">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Blog</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/diary']" routerLinkActive="tab-selected">
      <ion-icon name="book"></ion-icon>
      <ion-label>EQ Diary</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/profile']" routerLinkActive="tab-selected">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
