.width-sm {
  max-width: 480px;
}
.width-md {
  max-width: 720px;
}

.container-md {
  max-width: 752px;
  margin: 0 auto;
  padding: 0 16px;
}

.validation {
  padding: 0 0 10px;
}
.p-0 {
  padding: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  padding-bottom: 10px;
}
.mt-4 {
  margin-top: 40px;
}

// diary calendar
.monthview-datetable {
  border: none !important;
  td, th {
    border: none !important;
  }
}
.monthview-primary-with-event {
  background: var(--ion-color-primary) !important;
}
.monthview-selected {
  box-shadow: inset 0 0 0 2px var(--ion-color-warning);
  background: none !important;
  color: #000 !important;
  &.monthview-primary-with-event {
    color: #fff !important;
    background: var(--ion-color-primary) !important;
  }
}

