<ion-content>
  <ion-grid fixed class="width-md">
    <div *ngIf="tests$ | async as tests; else loading">
      <ion-card *ngFor="let test of tests" [routerLink]="['/tests/list', test.id]">
        <img *ngIf="test.imageSrc" [src]="test.imageSrc" alt="" />
        <ion-card-header>
          <ion-card-title>{{test.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{test.description}}
        </ion-card-content>
      </ion-card>
    </div>

    <ng-template #loading>
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </ion-grid>
</ion-content>
