<ion-content>
  <div class="container-md">
    <div class="ion-padding-bottom" *ngIf="testResult$ | async as result; else loading">
      <h1>{{result.title}}</h1>

      <p>{{result.date | date:'d.M.yyyy, h:mm a'}}</p>

      <div *ngFor="let resItem of result.results">
        <h5>{{resItem.param}}: {{resItem.value}}</h5>
        <ion-progress-bar [value]="resItem.value / resItem.max_value"></ion-progress-bar>
        <ion-note>{{resItem.value_label}}</ion-note>
      </div>

      <hr>

      <div [innerHTML]="result.description"></div>
    </div>
    <ng-template #loading>
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </div>
</ion-content>

