<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon color="primary" slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="width-md p-0">
    <form class="ion-padding" [formGroup]="form" (ngSubmit)="submit()">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" formControlName="first_name"></ion-input>
          <div class="validation" *ngIf="form.get('first_name').touched && form.get('first_name').invalid">
            <ion-note color="danger" *ngIf="form.get('first_name').errors.required">
              Name required
            </ion-note>
          </div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
          <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
            <ion-note color="danger" *ngIf="form.get('email').errors.required">
              Email required
            </ion-note>
            <ion-note color="danger" *ngIf="form.get('email').errors.email">
              Input correct email
            </ion-note>
          </div>
        </ion-item>
      </ion-list>
      <ion-button type="submit" class="ion-margin-top" expand="block" [disabled]="form.invalid || submitted">Сохранить</ion-button>
    </form>
  </ion-grid>
</ion-content>
