<ion-header>
  <ion-segment >
    <ion-segment-button value="lifehacks" routerLink="/blog/lifehacks" routerLinkActive #rla="routerLinkActive" [checked]="rla.isActive">
      <ion-label>EQ Lifehacks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="articles" routerLink="/blog/articles" routerLinkActive #rla2="routerLinkActive" [checked]="rla2.isActive">
      <ion-label>Articles</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
